body{
    display: block;
    background-color: rosybrown;
}
#side-container {
    float: left;
    position:fixed;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 25vw;
    min-height: 90vh;
    justify-content: center;
    align-self: center;
    background-color: rgb(228,0,43);

    top:0;
    left: 0;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 10vh;
    z-index: 0;
}
/* Chrome, Safari, and Opera */
#side-container::-webkit-scrollbar {
    display: none;
}

/* IE, Edge, and Firefox */
#side-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#met-logo {
    width: 20vw;
    margin-left: 2.5vw;
    margin-top: 7vh;
}

#side-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5vh;
    margin-top: 3vh;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
    color: rgb(255, 245, 245);
}

.side-btn {
    display: inline-block;
    width:22.5vw;
    height: 3rem;

    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 2vh;
    font-family: sans-serif;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color:rgb(255, 245, 245);

    /*border: 1px solid gray;*/
}

.side-btn:hover {
    color: black;
    background-color: rgb(255, 245, 245);
}

#main-container {
    min-width: 75vw;
    max-width: 80vw;
    margin: 0;
    margin-left: 25vw;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#main-header {
    background-color: rgb(228,0,43);
    height: 10vh;
    min-width: 75vw;
    max-width: 80vw;
    margin: 0;
    top: 0;
    right: 0;
    position: fixed;
}

#header-text {
    color:rgb(255, 245, 245);
    letter-spacing: 0.5em;
    font-size: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-left: 5vw;
}

#main-gallery {
    background-color: rosybrown;
    min-width: 40vw;
    min-height:100vh;
    max-height: max-content;
    bottom: 0;
    right: 0;
    margin: 0;
    

    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1.5fr));
    grid-template-rows: repeat(auto-fit, minmax(500px, 2fr));
    grid-gap: 1vw;
    align-content: space-around;
}


.card {
    background-color: rgb(255, 245, 245);
    min-width: 25vw;
    max-width: 50vw;
    min-height: 70vh;
    
    padding: 1vw;
    border-radius: 5px;
}
figure, figcaption {
    margin: 0;
    padding: 0;
}
.card-img {
    justify-self: center;
    max-width: 95%;
    padding-left: 1vw;
    border-radius: 3px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}
.card-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}
.card-medium, .card-artist, .card-bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
    
}
.card-artist {
    font-style: oblique;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
#img-modal {
    margin: auto;
    display: block;
    min-width: 500px;
    max-width: 80%;
}
#close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}
#close-modal:hover, #close-modal.focus {
    text-decoration: none;
    cursor: pointer;
}
